table,
tr,
td {
    border: solid 1px black;
    border-collapse: collapse;
}
#largColuna {
    width: 120px;
    background-color: rgb(167, 48, 167);
    text-align: center;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serift;
}
#cidades{
    background-color: rgb(167, 48, 167);
 text-align: center;
}
#riscado{ 
    background-color: black;
}
#fundo{
    background-color: rgb(198, 153, 240);
}